<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-button color="primary" (click)="login()">
      <ion-spinner *ngIf="loginSpinner" slot="start"></ion-spinner>
      <div class="ion-padding">Login</div>
    </ion-button>

<ion-content>
</ion-content>
