<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name" required minlength="4"></ion-input>
    </ion-item>
    <ion-text color="danger">
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <p *ngIf="name.errors.required" class="ion-padding-start">
          Name is required
        </p>
        <p *ngIf="name.errors.minlength" class="ion-padding-start">
          Minimum length is 4 characters
        </p>
      </div>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>
    <ion-text color="danger">
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <p *ngIf="email.errors.required" class="ion-padding-start">
          Email is required
        </p>
        <p *ngIf="email.errors.email" class="ion-padding-start">
          Invalid email
        </p>
      </div>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-text color="danger">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <p *ngIf="password.errors.required" class="ion-padding-start">
          Please enter a password
        </p>
      </div>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword" required></ion-input>
    </ion-item>
    <ion-text color="danger">
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <p *ngIf="confirmPassword.errors.required" class="ion-padding-start">
          Please confirm password
        </p>
      </div>
      <p *ngIf="userForm.errors?.matchPassword && confirmPassword.touched" class="ion-padding-start">
        {{userForm.errors.matchPassword}}
      </p>
    </ion-text>

    <ion-item>
      <ion-label><strong>Address</strong> (optional)</ion-label>
    </ion-item>
    <div formGroupName="address">
      <ion-item>
        <ion-label position="floating">Street</ion-label>
        <ion-input type="text" formControlName="street"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">State</ion-label>
        <ion-input type="text" formControlName="state"></ion-input>
      </ion-item>
    </div>
    <ion-item>
      <ion-text>Current Form Status is {{userForm.status}}</ion-text>
    </ion-item>
    <ion-button color="warning" type="submit" [disabled]="!userForm.valid">Register</ion-button>

  </form>
  <!-- <ion-button (click)="register()">Register</ion-button> -->
</ion-content>
