<ion-header>
  <ion-toolbar>
    <ion-title>store-items</ion-title>
    <ion-title slot="end"><ion-icon routerLink="/cart" size="large" name="cart"></ion-icon><app-user-indicator></app-user-indicator></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-spinner *ngIf="!renderList" name="dots"></ion-spinner>
  </div>
  <div *ngIf="emptyData" class="ion-text-center ion-padding-top ion-margin-top">
    <ion-text>Couldn't get any data :(</ion-text>
  </div>
  <ion-list>
    <ion-card class="item-container" *ngFor="let doc of docs" (click)="getItemDetails(doc)">
      <ion-card-header>
        <ion-card-title>
          <div >
            <ion-text>
              {{spliceText(doc.name, 100)}}
            </ion-text>
            <ion-text slot="end" color="primary">
              {{doc.price}} {{doc.currency}}
            </ion-text>
          </div>
        </ion-card-title>
        <ion-card-subtitle><strong>
              {{spliceText(doc.description, 150)}}
        </strong></ion-card-subtitle>
      </ion-card-header>

      <div class="item-image" *ngIf="doc.imageUrl">
        <ion-img *ngIf="doc.imageUrl" [src]="doc.imageUrl" (ionError)="imageFailed($event)"></ion-img>
      </div>

      <ion-card-content>
        <div>
          <ion-text>
            {{spliceText(doc.additionalFeatures, 150)}}
          </ion-text>
        </div>
        <div>
          <ion-text color="primary" (click)="addToCart($event, doc)">Add to cart</ion-text>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="new-store-item">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
