<ion-header>
  <ion-toolbar>
    <ion-title>store-items</ion-title>
    <ion-title slot="end"><app-user-indicator></app-user-indicator></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let doc of docs">
      <ion-card-header>
        <ion-card-subtitle>{{doc.description}}</ion-card-subtitle>
        <ion-card-title>{{doc.name}}</ion-card-title>
      </ion-card-header>

      <ion-img [src]="doc.imageUrl"></ion-img>

      <ion-card-content>{{doc.additionalFeatures}}
        <ion-text color="primary">{{doc.price}} {{doc.currency}}</ion-text>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="new-store-item">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
