<ion-header>
  <ion-toolbar>
    <ion-title>item-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="item-container" *ngIf="doc">
      <ion-card-header>
        <ion-card-title>
          <div >
            <ion-text>
              {{doc.name}}
            </ion-text>
            <ion-text slot="end" color="primary">
              {{doc.price}} {{doc.currency}}
            </ion-text>
          </div>
        </ion-card-title>
        <ion-card-subtitle><strong>{{doc.description}}</strong></ion-card-subtitle>
      </ion-card-header>

      <div class="item-image" *ngIf="doc.imageUrl">
        <ion-img *ngIf="doc.imageUrl" [src]="doc.imageUrl" (ionError)="imageFailed($event)"></ion-img>
      </div>

      <ion-card-content>
        <div>
          <ion-text>{{doc.additionalFeatures}}</ion-text>
        </div>
        <div>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
