<ion-header>
  <ion-toolbar>
    <ion-title>new-store-item</ion-title>
    <ion-title slot="end"><app-user-indicator></app-user-indicator></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name" required minlength="4"></ion-input>
    </ion-item>
    <ion-text color="danger">
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <p *ngIf="name.errors.required" class="ion-padding-start">
          Name is required
        </p>
        <p *ngIf="name.errors.minlength" class="ion-padding-start">
          Minimum length is 4 characters
        </p>
      </div>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Additional Features</ion-label>
      <ion-input type="text" formControlName="additionalFeatures"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="text" formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Currency</ion-label>
      <ion-input type="text" formControlName="currency"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Image</ion-label>
      <input #imageInput type="file" (change)="fileChange($event)">
    </ion-item>
    <img slot="start" class="itemImage" *ngIf="image" [src]="image"/>
    <ion-progress-bar class="ion-margin-top" color="primary" [value]="progressBar"></ion-progress-bar>



    <ion-text>
      {{response}}
    </ion-text>

    <ion-button class="ion-float-right" color="primary" type="submit" [disabled]="!form.valid || showSpinner">
      <ion-spinner *ngIf="showSpinner" slot="start"></ion-spinner>
      <div class="ion-padding">Add</div>
    </ion-button>
  </form>

</ion-content>
