<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="emptyData || connectionProblem" class="ion-text-center ion-padding-top ion-margin-top">
    <div *ngIf="connectionProblem">
      <ion-text>Couldn't connect to database :(</ion-text>
      <div *ngFor="let item of getIdxd()">
        <ion-text>{{item}}</ion-text>
      </div>
    </div>
    <div *ngIf="emptyData">
      <ion-text>Your cart is empty :)</ion-text>
    </div>
  </div>

  <div *ngIf="docs">
    <ion-grid>
      <ion-row class="item-container" *ngFor="let doc of docs">
        <ion-col size="5">
          <div class="item-image cart-image-container" *ngIf="doc.imageUrl">
            <ion-img *ngIf="doc.imageUrl" class="cart-image" [src]="doc.imageUrl" (ionError)="imageFailed($event)"></ion-img>
            <!-- <img *ngIf="doc.imageUrl" class="cart-image" src="{{doc.imageUrl}}"/> -->
          </div>
        </ion-col>

        <ion-col size="7">
          <div >
            <ion-text>
              {{doc.name}}
            </ion-text>
            <ion-text slot="end" color="primary">
              {{doc.price}} {{doc.currency}}
            </ion-text>
          </div>
          <div>
            <ion-grid>
              <ion-row>
                <ion-col size="3" class="ion-text-center ion-align-self-center cart-amount">
                  <ion-text *ngIf="amounts && amounts[doc.id]">{{amounts[doc.id]}}</ion-text>
                </ion-col>
                <ion-col size="3">
                  <ion-button class="cart-amount-btn" fill="clear" color="warning" (click)="subCount($event, doc)"><ion-icon name="remove-outline"></ion-icon></ion-button>
                </ion-col>
                <ion-col size="3">
                  <ion-button class="cart-amount-btn" fill="clear" (click)="addCount($event, doc)"><ion-icon name="add-outline"></ion-icon></ion-button>
                </ion-col>
                <ion-col size="3">
                  <ion-button class="cart-amount-btn" fill="clear" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
