$cart-height: 100px;

ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-amount{
    font-size: 1.2em;
}
.cart-amount-btn{
    // width: 40px;
    // height: 40px;
    padding: 0px;
    font-size: 1.2em;
}
.cart-image::part(image){
    max-height: $cart-height;
    max-width: 150px;
    object-fit: cover;
    margin: 0px 0px;
}

.item-container{
    min-height: $cart-height;
    // border: black 1px solid;
}